body {
  background-color: #f8f9fa;
}

.navbar-brand {
  font-weight: bold;
}

/* Marquesina */
.marquesina {
  background: #343a40;
  color: #e9ecef;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 6px 0;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 2px solid #212529;
}

.marquesina span {
  display: inline-block;
  padding-left: 100%;
  animation: moverTexto 25s linear infinite;
}

@keyframes moverTexto {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.producto-card img {
  height: 200px;
  object-fit: cover;
}

footer {
  background: #212529;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: 50px;
}
